* {
    padding: 0;
    margin: 0
  }
  .parent:first-of-type {
    background: hwb(0 100% 0%) url("https://images8.alphacoders.com/132/1328086.png") no-repeat center center fixed;
    background-size:cover;
  }
  .parent:nth-of-type(2) {
    background: #ffffff url("https://images.alphacoders.com/132/1328087.png") no-repeat center center fixed;
    background-size: cover;
  }
  .parent:nth-of-type(3) {
    background: #ffffff url("https://images2.alphacoders.com/748/748350.png") no-repeat center center fixed;
    background-size: cover;
  }
  .parent:nth-of-type(4) {
    background: #ffffff url("https://images5.alphacoders.com/133/1337268.png") no-repeat center center fixed;
    background-size: cover;
  }
  .parent:last-of-type {
    background: #ffffff url("https://images2.alphacoders.com/521/521477.jpg") no-repeat center center fixed;
    background-size: cover;
  }
  .parent {
    width: 100%;
    height: 150vh;
    color: #fff;
    text-shadow: 0 0 5px #000;
    font-family: tahoma;
    text-align: center;
    line-height: 180%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden
  }
  .parent p {
    padding: 25px
  }
 img{
    background-size: cover;
 }